body, html {
    height: 100%;
    margin: 0;
    font-family: 'Oxygen', sans-serif, serif;
    background-image: url('../images/cn-tower.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
}
  
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgb(235, 235, 235);
  padding: 1rem 0;
  padding-left: 1rem;
  z-index: 100;
}

.header h1 {
  font-weight: 300;
}

.title {
  padding-top: 40vh;
  height: 90vh;
  background-color: transparent;
  z-index: 1;
}

.title h1 {
  font-weight: 400;
  color:white;
  text-shadow: 2px 2px 8px black;
  overflow-wrap: none;
}

@media screen and (max-width: 768px) {
  .title h1 {
    font-size: 5vw;
  }
}

.headshot {
  border-radius: 50%;
}

.info-card {
  background-color: rgb(235,235,235);
  margin-bottom: 150px;
}

.info-card:last-child {
  background-color: rgb(235,235,235);
  margin-bottom: 0px;
}

.info-card .list-title {
  list-style-type: none;
}

.info-card .list-title .list-item {
  list-style-type: disc;
}

.info-card h2 {
  font-family: 'Oxygen', sans-serif, serif;
  font-weight: 700;
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .info-card h2 {
    font-size: 23px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1399px) {
  .info-card h2 {
    font-size: 28px;
  }
}

.info-card h3 {
  font-family: 'Oxygen', sans-serif, serif;
  font-weight: 700;
}

.info-card h5 {
  font-family: 'Oxygen', sans-serif, serif;
  font-weight: 400;
}

.info-card p {
  font-family: 'Oxygen', sans-serif, serif;
  font-weight: 200;
}

a.anchor {
  display: block;
  position: relative;
  top: -200px;
  visibility: hidden;
}

@media (min-width: 768px) {
  .row {
    display: flex;
    align-items: flex-start;
  }
  .col-md-10:last-child {
    margin-top: auto;
  }
  .col-md-5:last-child {
    margin-top: auto;
  }
}

.transparent-footer {
  width: 100%;
  background-color: transparent;
  color: white;
  z-index: 1;
}

.scroll-arrow {
  height: 10vh;
  padding-top: 1.5rem;
  text-align: center;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 700,
  'GRAD' 200,
  'opsz' 48;
  color: white;
  transition: transform 0.3s ease;
}

.material-symbols-outlined:hover {
  transform: translateY(-10px) scale(1.5);
}

.icon-link {
  text-decoration: none;
  font-size: 3em;
}

@media (max-width: 767px) {
  .icon-link {
    text-decoration: none;
    font-size: 2em;
  }
}